name: Test Deployment
on:
  push:

jobs:
  update-test:
    name: Update test repo on server
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main
          repository: TrevorIkky/GitActionsTest
          token: ${{ secrets.ACTIONS_PAT }}
          path: GitActionsTest
      - name: Auto-pull
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_KEY }}
          username: ${{ secrets.SSH_USERNAME }}
          script: |
            sudo chown -R ${{secrets.SSH_USERNAME}}:${{secrets.SSH_USERNAME}} /var/www
            cd /var/www/GitActionsTest
            git checkout main
            git pull origin main
            sudo chown -R apache:apache /var/www
